<div class="modal_wrap">
<input id="trigger" type="checkbox">
  <div class="modal_overlay">
    <label for="trigger" class="modal_trigger"></label>
    <div class="modal_content">
      <label for="trigger" class="close_button">✖️</label>
    </div>
  </div>
</div>
<!--
<label for="trigger" class="open_button">OPEN</label>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
-->

<label class="open_button">
  <a class="trig-colorbox_iframe notification" href="/news">
    <i class="fas fa-bell fa-fw" data-intro="運営からのお知らせを確認できます" data-step="A5"></i>
    <% if check_latest_news === true %>
    <span class="notification-badge"></span>
    <% end %>
  </a>
</label>