<div class="page_name">
  <h2>アカウント削除</h2><i class="gg-coffee"></i>
</div>
<div id="users">
  <div class="contents-wrapp">
    <div class="input-form">
      <%= button_to 'アカウントを削除する', users_path(@user), method: :delete, :class => 'btn create-btn', data: {confirm: '削除しますか？'} %>
    </div>
  </div>
</div>