<h1>アカウントを削除</h1>

<ul>
<% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>

<% if flash[:success] %>
<%= flash.now[:success] %>
<% end %>
<% if flash.now[:danger] %>
<%= flash.now[:danger] %>
<% end %>

<div id="users">
  <div class="contents-wrapp">
    <div class="input-form">
      <%= button_to 'アカウントを削除する', users_path(@user), method: :delete, :class => 'btn create-btn', data: {confirm: '削除しますか？'} %>
    </div>
  </div>
</div>