@import './views/mediaQuery.scss';
@import './views/iosReset.scss';
@import './views/calendars.scss';
@import './views/sessions.scss';
@import './views/users.scss';
@import './views/recipes.scss';
@import './views/gg_coffee.scss';

*{margin:0; padding:0;}

.input-field{
  width:20em;
  height:2.5em;
  border: 2px solid #BCE0FD;
  border-radius: 1.5em;
  padding-left: 1em;
  &::placeholder{
    color: #2699FB;
  }
}

.btn{
  width:22em;
  height:2.5em;
  border-radius: 1.5em;
}

input[type="submit"]{
  border: none;
  background:none;
}

.link{
  color: #2699FB;
  text-decoration: none;
}

.header {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2rem;
  img.logo_img{
    max-width: fit-content;
  }
  h1.logo{
    text-align: center;
    padding-top: 5px;
  }
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  /*height: 60px;*/
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-item {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.header-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5em 1.2em;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.logout-button {
  color: #999;
  margin-right: 40px;
}

.home-button {
  color: #2699FB;
  text-decoration: none;
}

/*** ＜ページタイトルの見出し＞ ***/
div.page_name{
  margin-inline: auto;
  width: fit-content;
  h2{
    position: relative;
    padding: 0.25em 0;
    left: 25px;
  }
  h2:after {
    content: "";
    display: block;
    height: 4px;
    background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
    background: linear-gradient(to right, rgb(230, 90, 90), transparent);
  }
}

/*** ＜ハンバーガーメニュー:START＞ ***/
/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
div.header-nav-item{
  .menu-btn{
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4678ef;
    color: #fff;
  }
  .pos1{
    position: fixed;
    top: 10px;
    right: 10px;
  }
  .pos2{
    position: fixed;
    top: 60px;
    right: 10px;
  }
  .is-active{
    z-index: 1;
  }
}

/*----------------------------
* メニュー本体
*----------------------------*/
.menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #555;
}
.menu__item{
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

/*----------------------------
* アニメーション部分
*----------------------------*/
/* アニメーション前のメニューの状態 */
.menu{
  transform: translateX(100vw);
  transition: all .3s linear;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  transform: translateX(0);
}

/*** ＜背景画像:START＞ ***/
/* 背景画像:ユーザー画面 */
#user-bg_user_img{
  /*位置の設定*/
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;

  /*背景画像の設定*/
  background: url("/img/bg/bg_login.png");
  /*background: image-url("/images/no-image.png");*/
  background-size: cover;

  /*透過の設定*/
  opacity: 0.5;
  z-index: -1;
}

/* 背景画像:レシピカレンダー画面 */
#recipe-bg_calendar_img{
  /*位置の設定*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /*背景画像の設定*/
  background: url("/img/bg/bg_calendar_1.png");
  /*background: image-url("/images/no-image.png");*/
  background-size: cover;

  /*透過の設定*/
  opacity: 0.5;
  z-index: -1;
}

/* 背景画像:レシピ画面 */
#recipe-bg_recipe_img{
  /*位置の設定*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /*背景画像の設定*/
  background: url("/img/bg/bg_recipe_1.png");
  /*background: image-url("/images/no-image.png");*/
  background-size: cover;

  /*透過の設定*/
  opacity: 0.2;
  z-index: -1;
}
/*** ＜背景画像:END＞ ***/

/*** ＜メッセージ表示:START＞ ***/
div.notifications{
  color: white;
  text-align: center;  

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: orange;
  }
}
/*** ＜メッセージ表示:END＞ ***/

/*** ＜お知らせのモーダルウィンドウ:START＞ ***/

/** モーダルウィンドウ **/
.modal_wrap input{
	display: none;
}

.modal_overlay{
	display: flex;
	justify-content: center;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	opacity: 0;
	transition: opacity 0.5s, transform 0s 0.5s;
	transform: scale(0);
}

.modal_trigger{
	position: absolute;
	width: 100%;
	height: 100%;
}

.modal_content{
	align-self: flex-start;
	width: 60%;
	padding: 30px 30px 15px;
	box-sizing: border-box;
	background: #fff;
	line-height: 1.4em;
	transform: translateY(-100%);
	transition: 0.5s;
}

.close_button{
	position: absolute;
	top: 14px;
	right: 16px;
	font-size: 24px;
	cursor: pointer;
}

.modal_wrap input:checked ~ .modal_overlay{
	opacity: 1;
	transform: scale(1);
	transition: opacity 0.5s;
}

.modal_wrap input:checked ~ .modal_overlay .modal_content{
	transform: translateY(20px);
}

.open_button{
	position: fixed;
	top: 0;
	right: 45px;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15px;
	height: 25px;
	margin: 10px;
	padding: 8px 16px;
	color: #444;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	border-radius: 16px;
	cursor: pointer;
}

/** お知らせベルアイコン **/

.notification {
  position: relative;
  cursor: pointer;
  padding: 1rem;
}

.notification i {
  font-size: 2rem;
}


.notification-badge {
  position: absolute;
  top: 0.5rem;
  left: 2.7rem;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #E93F33;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.notification.active {
  background-color: #ccc;
}


.notification.active span {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s, visibility 1s;
}

/*** ＜お知らせのモーダルウィンドウ:END＞ ***/

/*** ＜お知らせ一覧:START＞ ***/
div.news{
  /*width: fit-content;*/
  ul{
    width: 50%;
    margin: auto;
    overflow: hidden;
    li{
      border-bottom:1px dotted #000;
      list-style:none;
      padding:10px;
      width:800px;
    }
    a{
      color:#000;
      text-decoration:none;
    }
    span{
      background-color:#2388b8;
      border-radius:3px;
      color:#fff;
      display:inline-block;
      margin-right:20px;
      padding:5px;
    }
    time{
      display: inline-block;
      font-weight: bold;
      margin-right:40px;
    }
    p{
      color:#1c448d;
      display: inline-block;
      text-decoration:underline;
    }
    .new::after{
      content:"NEW";
      color: #d10606;
      font-size: 1.1rem;
      border: 1px solid #d10606;
      padding: 4px 8px;
      margin: 0 0 0 20px;
      display: inline-block;
      line-height: 1;
    }
  }
  nav.pagination{
    position: relative;
    padding: 1.25em 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    /* top: 60%; */
    left: 50%;
    /* bottom: 10%; */
    transform: translateY(0%) translateX(-50%);
  }
  span{
    padding: 7px;
  }
}
/*** ＜お知らせ一覧:END＞ ***/

@import './application_mobile';