@import './views/mediaQuery.scss';
@import './views/iosReset.scss';
@import './views/calendars.scss';
@import './views/sessions.scss';
@import './views/users.scss';
@import './views/recipes.scss';

*{margin:0; padding:0;}

.input-field{
  width:20em;
  height:2.5em;
  border: 2px solid #BCE0FD;
  border-radius: 1.5em;
  padding-left: 1em;
  &::placeholder{
    color: #2699FB;
  }
}

.btn{
  width:22em;
  height:2.5em;
  border-radius: 1.5em;
}

input[type="submit"]{
  border: none;
  background:none;
}

.link{
  color: #2699FB;
  text-decoration: none;
}

.header {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2rem;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  height: 60px;
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-item {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.header-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5em 1.2em;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.logout-button {
  color: #999;
  margin-right: 40px;
}

.home-button {
  color: #2699FB;
  text-decoration: none;
}

/*** ＜ハンバーガーメニュー:START＞ ***/
/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn{
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4678ef;
  color: #fff;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #555;
}
.menu__item{
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

/*----------------------------
* アニメーション部分
*----------------------------*/
/* アニメーション前のメニューの状態 */
.menu{
  transform: translateX(100vw);
  transition: all .3s linear;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  transform: translateX(0);
}

/*** ＜背景画像:START＞ ***/
/* 背景画像:ユーザー画面 */
#user-bg_user_img{
  /*位置の設定*/
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;

  /*背景画像の設定*/
  background: url("/img/bg/bg_login.png");
  /*background: image-url("/images/no-image.png");*/
  background-size: cover;

  /*透過の設定*/
  opacity: 0.5;
  z-index: -1;
}

/* 背景画像:レシピカレンダー画面 */
#recipe-bg_calendar_img{
  /*位置の設定*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /*背景画像の設定*/
  background: url("/img/bg/bg_calendar_1.png");
  /*background: image-url("/images/no-image.png");*/
  background-size: cover;

  /*透過の設定*/
  opacity: 0.5;
  z-index: -1;
}

/* 背景画像:レシピ画面 */
#recipe-bg_recipe_img{
  /*位置の設定*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /*背景画像の設定*/
  background: url("/img/bg/bg_recipe_1.png");
  /*background: image-url("/images/no-image.png");*/
  background-size: cover;

  /*透過の設定*/
  opacity: 0.2;
  z-index: -1;
}
/*** ＜背景画像:END＞ ***/

/*** ＜メッセージ表示:START＞ ***/
div.notifications{
  color: white;
  text-align: center;  

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: orange;
  }
}
/*** ＜メッセージ表示:END＞ ***/