<% case controller.controller_name %>
  <% when "recipes" %>
    <% case controller.action_name %>
      <% when "index" %>
        <div id="recipe-bg_calendar_img"></div>
      <% when "img_select" %>
        
      <% else %>
        <div id="recipe-bg_recipe_img"></div>
    <% end %>
  <% when "sessions", "users" %>
    <% case controller.action_name %>
        <% when "rule" %>
        <% when "news" %>
        <% when "news_article" %>
      <% else %>
        <div id="user-bg_user_img"></div>
    <% end %>
<% end %>